<h1>Welcome To Our Database</h1>
<div><%= render 'boats/index' %></div>
<div><%= render 'jobs/index' %></div>
<div><%= render 'shipments/index' %></div>

<br><br>



<br><br>

<%= button_to 'LOG OUT', destroy_user_session_path, method: :delete %>
