/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
  @import "bootstrap";

  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }

  .testing {
    justify-content: flex-end;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
    color: #0e6dd1;
    &:hover {
      text-decoration: none;
      color: #536e4f;
    }
  }



//  html, body {
//    font-family: 'Raleway', sans-serif;
//    background-color: #efefef;
//  }
//
//  h1, h2, h3, h4, h5, h6 {
//    font-weight: 500;
//  }
//
//  body {
//    padding-left: 250px;
//    text-align: center;
//    color: #800000;
//  }
//
//
//  #sidebar {
//    width: 200px;
//    position: fixed;
//    left: 0;
//    top: 0;
//    height: 100%;
//    background: #595e66;
//    padding: 7em 0 0 0;
//    border-right: 1px solid #d6dce0;
//  }
//
//  ul {
//   list-style: none;
//   text-align: right;
//   padding-right: 3em;
// }
//
// #create{
//   padding-top: 60%;
// }
//
// li.category{
//   color:
// }
