<div class="container">
  <h1>Your Boats</h1>
  <div class="card-deck">
    <% @boats.each do |boat| %>
    <div class="card">
      <img class="card-img-top" src="<%= boat.avatar.url(:medium) %>">
      <div class="card-body">
        <h4 class="card-title"><%= link_to boat.name, boat_path(boat) %></h4>
        <p class="card-text">
          <ul>
            <li><strong>Port of Origin:</strong> <%= boat.location %></li>
            <li><strong>Total Capacity:</strong> <%= boat.containers %></li>
          </ul>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
