<h1>Shipment Manifest</h1>
<ul>
  <li>Shipment Origin: <%= @shipment.origin %></li>
  <li>Shipment Destination: <%= @shipment.destination %></li>
  <li>Requested Delivery Date: <%= @shipment.delivery %></li>
</ul>
